django==5.0.6
pandas==2.3.0
openpyxl==3.1.5
python-dotenv==1.1.0

langchain==0.2.1
langchain-community==0.2.1
langchain-text-splitters==0.2.1
langchain-huggingface==0.0.3
langchain-mistralai==0.1.7

sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1
pypdf==4.2.0
huggingface-hub==0.33.0

torch==2.7.1
transformers==4.52.4
accelerate==1.8.1
bcrypt==4.2.1
markdown
